<div id="box-texto">
		"Aqui você escreve <br>  
		E ponto. <br>
		Constrói um passado, <br> 
		Sem futuros retoques, <br> 
		Só sua crua verdade: <br> 
		A escrita que dedilha <br> 
		O infinito presente <br> 
		Da alma."
	<a href= "/saiba-mais" target="_blank"><button id="botao-saiba-mais" class="botao-pequeno" type=""> Saiba + </button></a>
</div>