<div id="box-texto">
		Quer escrever seu {{momento}} escutando músicas que inspiram?<br> Experimente essa playlist no YouTube:
		<div id="youtube-icon">
			<a href="https://www.youtube.com/watch?v=gcEW9jXvsNw&index=1&list=PLSLXkl-E4eYSW9VEhacI9_yNn0zq7TuRX" target="_blank">
			  <img src="/img/youtube.png">
			</a>
		</div>
</div>