<section id="cabecalho">
	<div id="conteudo__cabecalho">
		<div class="box-superior">
			<div id="texto-box-superior">
				<p>Diário<br>de<br>{{nomeUsuario}}</p>
			</div>
			<div id="botoes-box-superior">
				<a href="/"><button id="botao-fechar" class="botao-pequeno">Fechá-lo</button></a>
				<a href="javascript:history.back()"><button id="botao-voltar" class="botao-pequeno">Voltar</button></a>
			</div>
		</div> 
	</div>
</section>
