<div id="logo">
	<div id="marcador-diario">
		<img src="img/marcador-diario.png">
	</div>
	<div id="box-data">
		<div id="dia-mes"></div>
		<div id="ano"></div>
	</div>
</div>

<div id="titulo-slogan-relogio">
	<h1> O Presente Diário </h1>
	<span id="slogan"> A escrita em seu instante infinito: </span>
	<div id="relogio">
		<span id="hora-minuto"></span>
		<span id="segundos"></span>
	</div>
</div>
<div class="barra-separadora"></div>