<footer>
	<p> &copy; 2018 O Presente Diário — imaginado, desenhado e codado com ❤ </p>
	<p id="footer-creditos"> Imagem do céu estrelado por <a href="https://unsplash.com/@wilstewart3" target="_blank"> Wil Stewart </a></p>
</footer>