body{
	background-color: black	;
	color: white;
	margin: 0;
}



.box-superior{
	background-color: #00a4d3;
	width: 84px;
	height: auto;
	border-radius: 6px;	
	padding: 6px 0 6px 0;
}

#conteudo__box-superior{
	text-align: center;
	border: 2px dashed white;
	border-radius: 4px;
	padding: 10px 4px;
	width: 58px;
	margin: 0 auto;
}

#conteudo__box-superior img{ 
	width: 30px; 
	margin-bottom: 4px; 
}

#conteudo__box-superior p{ 
	font: italic 600 13px 'Cabin', sans-serif;
	text-transform: uppercase;
	margin: 0;
}


#botao-fechar {
	background-color: #DA1653;
	color: white;
	font-size: 9px;
	margin: 10px 0 4px 15px;
	padding: 3px 8px;
	box-shadow: none;
}

#botao-fechar:hover{
	background-color: #E35683;
	color:white;
}








button {
	font-family: 'Arial', sans-serif;
	font-size: 13px;
	background-color: #00a4d3;
	color: white;
	font-weight: bold;
	padding: 8px 18px;
	border-radius: 4px;
	border: none;
	transition: .15s linear;
	box-shadow: 0 1px 20px 0 black;
	cursor: pointer;
}


button:hover{ background-color: #32b6db; }




.escrever-presente {
	margin: 0 auto;
	width: 580px;
	border-left: 2px solid white;	
	border-right: 2px solid white;
	padding-left: 15px;
	padding-right: 15px;
}


.folha{
	background: linear-gradient(135deg, rgba(0,165,211,0.3) 0%, 
		rgba(0,165,211,0.4) 45%, 
		rgba(32,124,229,0.3) 100%);
	border-radius: 6px;
	width: 580;
	text-align: center;
	padding: 30px 0 30px 0;
}


.titulo-folha input{
	font: italic 700 16px 'Roboto', sans-serif;
	color: white;
	width: 350px;
	background-color: unset;
	padding-bottom: 4px;
	border: none;
	border-bottom: 1px solid white;
	text-align: center;
	outline: none;
	text-transform: uppercase;
	transition: .25s ease-out; 
	
}

.titulo-folha input:focus { border-bottom: 1px solid #32b6db; }

.corpo-folha textarea{
	font: normal 400 14px 'Roboto', sans-serif;
	color: white;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-align: justify;
	margin-top: 35px;
	outline: none;
	scroll-behavior: smooth;
	background-color: inherit;
	resize: none;
	border: 0px solid #00a4d3;
	border-radius: 6px;
	width: 500px;
	height: 500px;
}



#titulo-folha-passado p{
	text-align: center;
	margin: 0;
	padding: 6px 0;
	
}


.titulo-folha input::placeholder { 
	color: white; 
	font-style: italic;
	text-align: center; 
	opacity: 0.6;
}





.botao-pequeno {
	font-size: 11px;
	padding: 3px 8px;
	box-shadow: none;
}

.botao-grande{ padding: 14px 18px; }

#botao-fechar {
	background-color: #DA1653;
	color: white;
	font-size: 9px;
	margin: 10px 0 4px 15px;
}

#botao-voltar{ 
	background-color: white;
	color: black;
	font-size: 10px;
	padding: 4px 8px;
	margin: 0 0 4px 19px;
 }

 #botao-voltar:hover{
 	background-color: rgb(35, 44, 49);
 	color: white;
 }















