<!DOCTYPE html>

<html>
	
	{{> head}}
	
	<body>
		<section id="coluna-imperativa">
			<div id="coluna-imperativa__conteudo">
				
				{{> conteudopadraocolimperativa}}
				{{> boxtextopoesia}}

			</div>
		</section>



		<!-- Coluna Principal -->

		<main>

			<section id="cabecalho">
				<div id="conteudo__cabecalho">
					<div class="box-superior">
						<div id="texto-box-superior">
							<img id="icone-tempo" src="img/sol.png"> 
							<p id="saudacao-msg"></p>
						</div>
					</div>
				</div>
			</section>

			<section id="coluna-principal">
				<div id="conteudo__coluna-principal" class="capa">
					<div id="box-login">
						<div class="titulo-boxes">
							<p> Já tem acesso? <p>
						</div>
						<div id="elementos-login">
							<form action="" method="post">
								<input type="email" name="email" class="input" placeholder="Digite o seu e-mail" autofocus required="true" spellcheck="false">
								<input type="password" name="senha" class="input" placeholder="Digite a sua senha" maxlength="12" required="true">
								<div id="botao-entrar">
									<button type="submit"> Abrir Diário </button>
								</div>
							</form>
						</div>
					</div>

					<div id="barra-rotacionada_homepage"></div>

					<div id="box-cadastro">
						<div class="titulo-boxes">
							<p> Quer fazer parte? :) <p>
						</div>
						<div id="elementos-cadastro">
							<form action="/juntarse" method="post">
								<input type="text" name="nome" placeholder="Como se chama?" maxlength="8" required="true">
								<input type="email" name="email" placeholder="Qual o seu e-mail?" required="true">
								<input type="password" name="senha" placeholder="Digite uma senha" maxlength="12" required="true">
								<input type="password" name="confirmarSenhaCadastro" placeholder="Digite a senha novamente" maxlength="12" required="true"> 
								<div id="botao-juntarse">
									<button type="submit" value="Submit"> Juntar-se </button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>
		
	
	

		{{> footer}}
	
		
		
		

		<script type="text/javascript" src="javascripts/funcoes-momento-presente.js"></script>
	</body>
</html>

