<!DOCTYPE html>

<html>

	{{> head}}

	<body class="paginas-escrever-recordar">
		<section id="coluna-imperativa">
			<div id="seta-esconder-mostrar">
				<img id="icone-seta" src="/img/seta-esquerda.png">
			</div>
			<div id="coluna-imperativa__conteudo">

				{{> conteudopadraocolimperativa}}
				{{> boxtextoplaylist}}

			</div>
		</section>



		<!-- Coluna Principal -->

		<main>

			{{> cabecalhoextenso}}

			<section id="coluna-principal" >
				<div id="conteudo__coluna-principal" class="escrever-presente">
					<div id="barra-rotacionada_escrever-presente"></div>
					<form action= "/diario/{{idUsuario}}/nova-folha" method="post">
						<div id="folha">
							<div class="titulo-folha">
								<input name="titulo_folha" type="text" placeholder ="Título da Folha" autofocus spellcheck="false" autocomplete="off" maxlength="20" required="true"></input>
							</div>
							<div class="corpo-folha">
								<textarea name="corpo_folha" spellcheck="false" required="true"></textarea>
							</div>
						</div>

						<div id="box-inferior">
							<p id="numero-folha" class="faixa-texto">Folha 1</p>
							<button type="submit" id="botao-adicionar-folha">Adicioná-la ao meu diário!
							</button>
						</div>
					</form>
				</div>
				
			</section>
		</main>
		
	
	

		{{> footer}}
	
		
		

		<script type="text/javascript" src="/javascripts/funcoes-momento-presente.js"></script>
		<script type="text/javascript" src="/javascripts/foco-folha.js"></script>
	</body>
</html>

