<!DOCTYPE html>

<html>
	
	{{> head}}
	
	<body>
		<section id="coluna-imperativa">
			<div id="coluna-imperativa__conteudo">
				
				{{> conteudopadraocolimperativa}}
				{{> boxtextopoesia}}

			</div>
		</section>



		<!-- Coluna Principal -->

		<main>

			<section id="cabecalho">
				<div id="conteudo__cabecalho">
					<div class="box-superior">
						<div id="texto-box-superior">
							<p>Diário<br>de<br>{{nomeUsuario}}</p>
						</div>
						<div id="botoes-box-superior">
							<a href="/"><button id="botao-fechar" class="botao-pequeno">Fechá-lo</button>
						</div></a>
					</div> 
				</div>
			</section>

			<section id="coluna-principal">
				<div id="conteudo__coluna-principal" class="meu-menu">
					<div id="box-meu-menu">
						<div class="mensagens-interativas">
							<p id="msg-principal" class="faixa-texto"> Olá, {{nomeUsuario}}! :) </p>
							<p id="msg-secundaria" class="faixa-texto"> O que você quer fazer agora? </p>
						</div>
						
						<div id="botoes-meu-menu">
							<a href="/diario/{{idUsuario}}/nova-folha"><button id="botao-escrever" class="botao-grande"> Escrever </button></a>
							<a href="/diario/{{idUsuario}}/exibir-folhas"><button id="botao-relembrar" class="botao-grande"> Recordar </button></a>
						</div>
						<div id="subtitulo-botao">
							<p id="sub-presente"> o presente. </p>
							<p id="sub-passado"> o passado. </p>
						</div>

						<div id="barra-rotacionada_meu-menu"></div>
					</div>
				</div>
			</section>
		</main>
	

		{{> footer}}
		

		<script type="text/javascript" src="javascripts/funcoes-momento-presente.js"></script>
	</body>
</html>

