<!DOCTYPE html>

<html>
	
	{{> head}}

	<body class="paginas-escrever-recordar">
		<section id="coluna-imperativa">
			<div id="seta-esconder-mostrar">
				<img id="icone-seta" src="img/seta-esquerda.png">
			</div>
			<div id="coluna-imperativa__conteudo">

				{{> conteudopadraocolimperativa}}
				{{> boxtextoplaylist}}

			</div>
		</section>



		<!-- Coluna Principal -->

		<main>

			{{> cabecalhoextenso}}

			<section id="coluna-principal" >
				<div id="conteudo__coluna-principal" class="recordar-passado">
					<div id="barra-rotacionada_escrever-presente"></div>
					<div id="folha">
						<div class="titulo-folha">
							<p> {{folhaSelecionada.tituloFolha}} </p>
						</div>
						<div class="corpo-folha">
							<p> {{folhaSelecionada.corpoFolha}} </p>
						</div>
					</div>

					<div id="box-inferior">
						<p id="numero-folha" class="faixa-texto"> Folha {{numeroFolha}}</p>
						<span class="momento-escrita faixa-texto"> {{folhaSelecionada.dataEscrita}} </span>
						<!-- <button id="botao-adicionar-folha">Adicioná-la ao meu diário!
						</button> -->
					</div>
				</div>
				
			</section>
		</main>
		
	
	

		{{> footer}}
	
		
		
		

		<script type="text/javascript" src="javascripts/funcoes-momento-presente.js"></script>
		<script type="text/javascript" src="javascripts/foco-folha.js"></script>
	</body>
</html>

