<!DOCTYPE html>

<html>
	
	{{> head}}
	
	<body>
		<section id="coluna-imperativa">
			<div id="coluna-imperativa__conteudo">
				
				{{> conteudopadraocolimperativa}}
				{{> boxtextopoesia}}

			</div>
		</section>



		<!-- Coluna Principal -->

		<main>

			<section id="cabecalho">
				<div id="conteudo__cabecalho">
					<div class="box-superior">
						<div id="texto-box-superior">
							<img id="icone-tempo" src="img/sol.png"> 
							<p id="saudacao-msg"></p>
						</div>
					</div>
				</div>
			</section>

			<section id="coluna-principal">
				<div id="conteudo__coluna-principal" class="capa">
					  <div class="nota-usuario">
						  	<p>O Presente Diário nasceu da ideia de registrar o presente assim como ele é: um instante passageiro, que logo em seguida vira um passado que não poderá ser modificado.</p> 
						  	<p>Aqui, existe uma analogia com o mundo real: o usuário não poderá fazer edições das folhas já escritas (isto é, do seu passado). As únicas ações que ele poderá realizar é escrever um novo presente e recordar o seu passado, assim como fazemos na vida real. Existimos, afinal, no infinito presente da alma. </p>
						  	<div id="botao-voltar-saiba-mais">
						  		<a href="/"><button> Voltar </button>
						  	</div></a>
					  </div>
				</div>
				
			</section>
		</main>
		
	
	

		{{> footer}}
	
		
		
		

		<script type="text/javascript" src="javascripts/funcoes-momento-presente.js"></script>
	</body>
</html>

