<!DOCTYPE html>

<html>
	
	{{> head}}
	
	<body>
		<section id="coluna-imperativa">
			<div id="coluna-imperativa__conteudo">
				
				{{> conteudopadraocolimperativa}}
				{{> boxtextopoesia}}

			</div>
		</section>



		<!-- Coluna Principal -->

		<main>

			<section id="cabecalho">
				<div id="conteudo__cabecalho">
					<div class="box-superior">
						<div id="texto-box-superior">
							<img id="icone-tempo" src="img/sol.png"> 
							<p id="saudacao-msg"></p>
						</div>
					</div>
				</div>
			</section>

			<section id="coluna-principal">
				<div id="conteudo__coluna-principal" class="capa">
					<p> =D </p>
				</div>
				
			</section>
		</main>
		
	
	

		{{> footer}}
	
		
		
		

		<script type="text/javascript" src="javascripts/funcoes-momento-presente.js"></script>
	</body>
</html>

